---
const { title, description, image, url, tags } = Astro.props;
---

<div class="card bg-base-100 shadow-xl">
  <figure><img src={image} alt={title} /></figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>{description}</p>
    <div class="flex gap-2 flex-wrap">
      {
        tags.map((tag: string[]) => (
          <div class="badge badge-outline">{tag}</div>
        ))
      }
    </div>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" href={url} target="_blank">見る</a>
    </div>
  </div>
</div>
